In [10]:
import geopandas as gpd

In [ ]:
# acs-dashboard/public/data/cb_2018_us_county_5m/cb_2018_us_county_5m.shp

In [ ]:
# PATH_DICT = {
#     "SHP_FILE": "../public/data/nhgis0001_shapefile_tl2020_us_county_2020/US_county_2020.shp", 
#     "MIGRATION_FILE":  "../public/data/geo/tl2020_us_county_2020_pseudo.csv", 
#     "geoData_FILE" :"../public/data/geo/tl2020_geopandas_boundary.geojson"
# }

In [ ]:
PATH_DICT = {
    "SHP_NHGIS": "../public/data/nhgis0001_shapefile_tl2020_us_county_2020/US_county_2020.shp", 
    "SHP_FILE": "../public/data/cb_2018_us_county_5m/cb_2018_us_county_5m.shp", 
    "SHP_STATE": "../public/data/cb_2018_us_state_5m/cb_2018_us_state_5m.shp",
    "MIGRATION_FILE":  "../public/data/geo/tl2020_us_county_2020_pseudo.csv", 
    "geoData_FILE" :"../public/data/geo/cb_2018_us_county_5m_boundaries.geojson", 
    "geoData_STATE": "../public/data/geo/cb_2018_us_state_5m_boundaries.geojson"
}

In [ ]:
for name, path in PATH_DICT.items():
    print( f"The key is {name}, the file path is {path}")

The key is SHP_NHGIS, file path is ../public/data/nhgis0001_shapefile_tl2020_us_county_2020/US_county_2020.shp
The key is SHP_FILE, file path is ../public/data/cb_2018_us_county_5m/cb_2018_us_county_5m.shp
The key is MIGRATION_FILE, file path is ../public/data/geo/tl2020_us_county_2020_pseudo.csv
The key is geoData_FILE, file path is ../public/data/geo/cb_2018_us_county_5m_boundaries.geojson

In [110]:
gdf = gpd.read_file( PATH_DICT["SHP_FILE"])
nhgis_gdf = gpd.read_file( PATH_DICT["SHP_NHGIS"])

In [111]:
[df.shape for df in [gdf, nhgis_gdf]]

[(3233, 10), (3221, 21)]

In [112]:
gdf.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,39,071,01074048,0500000US39071,39071,Highland,06,1432479992,12194983,"POLYGON ((-83.86976 39.05553, -83.86568 39.247..."
1,06,003,01675840,0500000US06003,06003,Alpine,06,1912292630,12557304,"POLYGON ((-120.07248 38.50987, -120.07239 38.7..."
2,12,033,00295737,0500000US12033,12033,Escambia,06,1701544502,563927612,"POLYGON ((-87.62999 30.87766, -87.62946 30.880..."
3,17,101,00424252,0500000US17101,17101,Lawrence,06,963936864,5077783,"POLYGON ((-87.91028 38.57493, -87.90811 38.850..."
4,28,153,00695797,0500000US28153,28153,Wayne,06,2099745573,7255476,"POLYGON ((-88.94317 31.78421, -88.94336 31.824..."

In [115]:
nhgis_gdf.head()

,GISJOIN,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,...,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,Shape_Leng,Shape_Area,geometry
0,G0100010,01,001,00161526,01001,Autauga,Autauga County,06,H1,G4020,...,33860,None,A,1.539634e+09,2.567481e+07,+32.5322367,-086.6464395,210512.579904,1.565309e+09,"POLYGON ((895625.242 -524091.396, 895192.828 -..."
1,G0100030,01,003,00161527,01003,Baldwin,Baldwin County,06,H1,G4020,...,19300,None,A,4.117656e+09,1.132956e+09,+30.6592183,-087.7460666,637811.590498,4.264564e+09,"MULTIPOLYGON (((810181.191 -770353.651, 810167..."
2,G0100050,01,005,00161528,01005,Barbour,Barbour County,06,H1,G4020,...,21640,None,A,2.292160e+09,5.052321e+07,+31.8702531,-085.4051035,272036.648100,2.342684e+09,"POLYGON ((1026117.28 -548829.885, 1026126.521 ..."
3,G0100070,01,007,00161529,01007,Bibb,Bibb County,06,H1,G4020,...,13820,None,A,1.612189e+09,9.572303e+06,+33.0158929,-087.1271475,190851.068806,1.621761e+09,"POLYGON ((845023.464 -457350.174, 845421.934 -..."
4,G0100090,01,009,00161530,01009,Blount,Blount County,06,H1,G4020,...,13820,None,A,1.670259e+09,1.486028e+07,+33.9773575,-086.5664400,242282.037461,1.685119e+09,"POLYGON ((886438.269 -335474.799, 886435.536 -..."

In [98]:
gdf.query("NAME == 'Bexar'")

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
3185,48,029,01383800,0500000US48029,48029,Bexar,06,3212140683,41079712,"POLYGON ((-98.80655 29.69071, -98.77878 29.720..."

In [116]:
set(nhgis_gdf.columns) - set(gdf.columns)

{'CBSAFP',
 'CLASSFP',
 'CSAFP',
 'FUNCSTAT',
 'GISJOIN',
 'INTPTLAT',
 'INTPTLON',
 'METDIVFP',
 'MTFCC',
 'NAMELSAD',
 'Shape_Area',
 'Shape_Leng'}

In [24]:
column_dict = {
    # Pseudo migration dataset
    "year": "Year of the migration record (2018, 2019, 2020 in synthetic dataset)",
    "origin_geoid": "FIPS GEOID (state+county code) of the origin county",
    "origin_name": "Name of the origin county",
    "dest_geoid": "FIPS GEOID (state+county code) of the destination county",
    "dest_name": "Name of the destination county",
    "flow": "Simulated migration flow count (people moving from origin to destination)",

    # Shapefile metadata (from Census TIGER/Line)
    "GISJOIN": "Unique identifier (NHGIS), useful for linking to other datasets",
    "STATEFP": "State FIPS code (2-digit)",
    "COUNTYFP": "County FIPS code (3-digit)",
    "COUNTYNS": "GNIS (Geographic Names Information System) ID",
    "GEOID": "Concatenated geographic identifier (STATEFP + COUNTYFP)",
    "NAME": "County name (e.g., 'Bexar')",
    "NAMELSAD": "Name with legal/statistical area description (e.g., 'Bexar County')",
    "LSAD": "Legal/Statistical Area Description code",
    "CLASSFP": "FIPS class code (geographic type, e.g., H1 = county)",
    "MTFCC": "Census feature classification code (e.g., G4020 = county)",
    "CSAFP": "Combined Statistical Area FIPS code",
    "CBSAFP": "Core Based Statistical Area FIPS code (metro/micro area)",
    "METDIVFP": "Metropolitan Division code (for large metros)",
    "FUNCSTAT": "Functional status (A = active, I = inactive)",
    "ALAND": "Land area (square meters)",
    "AWATER": "Water area (square meters)",
    "INTPTLAT": "Latitude of internal point (centroid)",
    "INTPTLON": "Longitude of internal point (centroid)",
    "Shape_Leng": "Polygon perimeter length (projection-dependent)",
    "Shape_Area": "Polygon area (projection-dependent)",
    "geometry": "Geometry (polygon) of the county boundary",
    "NAMME": "Extra name/label column (sometimes duplicate of NAME or localized)"
}

In [ ]:
# Check if which  GEOIDs are missed in gdf compared to  nhgis_gdf 
for geoid in set(nhgis_gdf["GEOID"].unique()) - set(gdf["GEOID"].unique()):
    display(nhgis_gdf.query(f"GEOID == '{geoid}'"))

,GISJOIN,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,...,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,Shape_Leng,Shape_Area,geometry
73,G0200660,02,066,02804401,02066,Copper River,Copper River Census Area,05,H5,G4020,...,None,None,S,6.395234e+10,1.217430e+09,+62.0344790,-143.9221674,1.449701e+06,6.516981e+10,"POLYGON ((-2593145.657 3261669.302, -2593255.1..."

,GISJOIN,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,...,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,Shape_Leng,Shape_Area,geometry
72,G0200630,02,063,02804400,02063,Chugach,Chugach Census Area,05,H5,G4020,...,None,None,S,2.468217e+10,1.453893e+10,+60.4884737,-146.2030924,7.013710e+06,2.516881e+10,"MULTIPOLYGON (((-2860657.143 3189635.684, -286..."

In [128]:
missing_mask = ~nhgis_gdf["GEOID"].isin(gdf["GEOID"])
if missing_mask.any():
    display(nhgis_gdf[missing_mask])
else:
    print("No missing GEOIDs!")

,GISJOIN,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,...,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,Shape_Leng,Shape_Area,geometry
72,G0200630,02,063,02804400,02063,Chugach,Chugach Census Area,05,H5,G4020,...,None,None,S,2.468217e+10,1.453893e+10,+60.4884737,-146.2030924,7.013710e+06,2.516881e+10,"MULTIPOLYGON (((-2860657.143 3189635.684, -286..."
73,G0200660,02,066,02804401,02066,Copper River,Copper River Census Area,05,H5,G4020,...,None,None,S,6.395234e+10,1.217430e+09,+62.0344790,-143.9221674,1.449701e+06,6.516981e+10,"POLYGON ((-2593145.657 3261669.302, -2593255.1..."

In [117]:
COLS_CHECK = ["COUNTYFP", "STATEFP" , "COUNTYNS", "GEOID", "NAME", "GEOID"]
[f"The unique values for column {col}: {gdf[col].nunique()}"
            for col in  COLS_CHECK
]

['The unique values for column COUNTYFP: 329',
 'The unique values for column STATEFP: 56',
 'The unique values for column COUNTYNS: 3233',
 'The unique values for column GEOID: 3233',
 'The unique values for column NAME: 1922',
 'The unique values for column GEOID: 3233']

In [130]:
counties_gdf = gdf[["GEOID", "NAME", "geometry", "STATEFP"]]
counties_gdf.head()

   GEOID      NAME                                           geometry STATEFP
0  39071  Highland  POLYGON ((-83.86976 39.05553, -83.86568 39.247...      39
1  06003    Alpine  POLYGON ((-120.07248 38.50987, -120.07239 38.7...      06
2  12033  Escambia  POLYGON ((-87.62999 30.87766, -87.62946 30.880...      12
3  17101  Lawrence  POLYGON ((-87.91028 38.57493, -87.90811 38.850...      17
4  28153     Wayne  POLYGON ((-88.94317 31.78421, -88.94336 31.824...      28

In [146]:
print(counties_gdf.columns)

Index(['GEOID', 'NAME', 'geometry', 'STATEFP'], dtype='object')

In [157]:
import geopandas as gpd
import pandas as pd
import numpy as np

# # 1. Load counties shapefile
# url = "https://www2.census.gov/geo/tiger/TIGER2022/COUNTY/tl_2022_us_county.zip"
# counties_gdf = gpd.read_file(url)[["GEOID", "NAME", "STATEFP", "geometry"]]

# 2. Select 10 counties per state
selected = (
    counties_gdf.groupby("STATEFP")
    .apply(lambda x: x.sample(min(10, len(x)), random_state=42), include_groups=False)
    .reset_index(drop=True)
)

# 3. Generate migration flows (random demo data)
years = [2018, 2019, 2020]
records = []
np.random.seed(42)

for _, row in selected.iterrows():
    for y in years:
        n_flows = np.random.randint(2, 6)
        for _ in range(n_flows):
            dest = selected.sample(1).iloc[0]
            while dest["GEOID"] == row["GEOID"]:
                dest = selected.sample(1).iloc[0]

            if np.random.rand() > 0.5:
                origin_geoid, dest_geoid = row["GEOID"], dest["GEOID"]
            else:
                origin_geoid, dest_geoid = dest["GEOID"], row["GEOID"]

            flow_count = np.random.randint(10, 1001)
            records.append({
                "year": y,
                "origin_geoid": origin_geoid,
                "dest_geoid": dest_geoid,
                "flow": flow_count
            })

migration_df = pd.DataFrame(records)

# 4. Attach real county names
migration_df = migration_df.merge(
    counties_gdf[["GEOID", "NAME"]],
    left_on="origin_geoid", right_on="GEOID",
    how="left"
).rename(columns={"NAME": "origin_name"}).drop(columns=["GEOID"])

migration_df = migration_df.merge(
    counties_gdf[["GEOID", "NAME"]],
    left_on="dest_geoid", right_on="GEOID",
    how="left"
).rename(columns={"NAME": "dest_name"}).drop(columns=["GEOID"])

In [158]:
migration_df.head()

   year origin_geoid dest_geoid  flow origin_name dest_name
0  2018        01065      23015   334        Hale   Lincoln
1  2018        01065      27017   559        Hale   Carlton
2  2018        72009      01065   617    Aibonito      Hale
3  2018        22085      01065   614      Sabine      Hale
4  2019        01065      35031   494        Hale  McKinley

In [159]:
# Calculate net migration = inflow - outflow per county per year

# Inflow: sum of flows where county is destination
inflow = (
    migration_df.groupby(["year", "dest_geoid"])["flow"]
    .sum()
    .reset_index()
    .rename(columns={"dest_geoid": "GEOID", "flow": "inflow"})
)

# Outflow: sum of flows where county is origin
outflow = (
    migration_df.groupby(["year", "origin_geoid"])["flow"]
    .sum()
    .reset_index()
    .rename(columns={"origin_geoid": "GEOID", "flow": "outflow"})
)

# Merge inflow and outflow
net_mig = pd.merge(inflow, outflow, on=["year", "GEOID"], how="outer").fillna(0)

# Calculate net migration
net_mig["net_migration"] = net_mig["inflow"] - net_mig["outflow"]

In [160]:
net_mig.head()

   year  GEOID  inflow  outflow  net_migration
0  2018  01005  2215.0      0.0         2215.0
1  2018  01009     0.0   2365.0        -2365.0
2  2018  01027   975.0   4011.0        -3036.0
3  2018  01045  1051.0   2517.0        -1466.0
4  2018  01065  1231.0    893.0          338.0

In [138]:
counties_gdf.to_file(PATH_DICT["geoData_FILE"], driver="GeoJSON")

In [73]:
migration_df.to_csv(PATH_DICT["MIGRATION_FILE"], index=False)

In [75]:
migration_df.head()

   year origin_geoid dest_geoid  flow          origin_name         dest_name
0  2018        01073      54065   617     Jefferson County     Morgan County
1  2018        01073      26045   845     Jefferson County      Eaton County
2  2018        38011      01073   197        Bowman County  Jefferson County
3  2018        22123      01073   846  West Carroll Parish  Jefferson County
4  2019        72153      01073    89      Yauco Municipio  Jefferson County

In [156]:
# check the size per year
migration_df.groupby("year").size()

year
2018    1775
2019    1743
2020    1783
dtype: int64

In [163]:
missing = (
    set(migration_df.origin_geoid) 
    | set(migration_df.dest_geoid)
) - set(counties_gdf.GEOID)

print("Missing GEOIDs:", len(missing))

Missing GEOIDs: 0

In [165]:
# 1. Reproject to an equal-area CRS (US Albers, EPSG:5070)
counties_proj = counties_gdf.to_crs("EPSG:5070")

# 2. Compute centroids in projected CRS
centroids = counties_proj.geometry.centroid

# 3. Convert back to WGS84 (EPSG:4326) for lon/lat
centroids = gpd.GeoSeries(centroids, crs="EPSG:5070").to_crs("EPSG:4326")

# 4. Attach to counties_gdf
counties_gdf["lon"] = centroids.x
counties_gdf["lat"] = centroids.y

In [166]:
counties_gdf.head()

,GEOID,NAME,geometry,STATEFP,lon,lat
0,39071,Highland,"POLYGON ((-83.86976 39.05553, -83.86567 39.247...",39,-83.600896,39.184660
1,06003,Alpine,"POLYGON ((-120.07249 38.50988, -120.0724 38.70...",06,-119.820557,38.597144
2,12033,Escambia,"POLYGON ((-87.62999 30.87765, -87.62946 30.880...",12,-87.361978,30.667809
3,17101,Lawrence,"POLYGON ((-87.91028 38.57493, -87.90811 38.850...",17,-87.726882,38.720342
4,28153,Wayne,"POLYGON ((-88.94317 31.78421, -88.94335 31.824...",28,-88.695898,31.640746

In [168]:
centroids_df = counties_gdf[["GEOID", "NAME", "lon", "lat"]]

In [169]:
migration_df = migration_df \
    .merge(centroids_df, left_on="origin_geoid", right_on="GEOID", how="left", suffixes=("", "_origin")) \
    .merge(centroids_df, left_on="dest_geoid", right_on="GEOID", how="left", suffixes=("", "_dest"))

# Rename columns
migration_df = migration_df.rename(columns={
    "NAME": "origin_name",
    "lon": "origin_lon",
    "lat": "origin_lat",
    "NAME_dest": "dest_name",
    "lon_dest": "dest_lon",
    "lat_dest": "dest_lat"
}).drop(columns=["GEOID", "GEOID_dest"])

In [170]:
migration_df

,year,origin_geoid,dest_geoid,flow,origin_name,dest_name,origin_name,origin_lon,origin_lat,dest_name,dest_lon,dest_lat
0,2018,01065,23015,334,Hale,Lincoln,Hale,-87.629231,32.762567,Lincoln,-69.542304,44.062923
1,2018,01065,27017,559,Hale,Carlton,Hale,-87.629231,32.762567,Carlton,-92.677233,46.592304
2,2018,72009,01065,617,Aibonito,Hale,Aibonito,-66.264624,18.130546,Hale,-87.629231,32.762567
3,2018,22085,01065,614,Sabine,Hale,Sabine,-93.555067,31.562846,Hale,-87.629231,32.762567
4,2019,01065,35031,494,Hale,McKinley,Hale,-87.629231,32.762567,McKinley,-108.262682,35.580956
...,...,...,...,...,...,...,...,...,...,...,...,...
5296,2019,78020,47125,165,St. John,Montgomery,St. John,-64.746586,18.340316,Montgomery,-87.382521,36.496497
5297,2020,35027,78020,722,Lincoln,St. John,Lincoln,-105.459280,33.745022,St. John,-64.746586,18.340316
5298,2020,41061,78020,700,Union,St. John,Union,-118.009175,45.309903,St. John,-64.746586,18.340316
5299,2020,53049,78020,29,Pacific,St. John,Pacific,-123.704955,46.555274,St. John,-64.746586,18.340316
5300,2020,78020,04023,229,St. John,Santa Cruz,St. John,-64.746586,18.340316,Santa Cruz,-110.846559,31.526147

In [172]:
# Save separate CSV files for each year's flow data

for year, group in migration_df.groupby('year'):
    group.to_csv(f'../public/data/flow/flow_{year}.csv', index=False)